.button {
  --color: var(--black);
  --accent-color: var(--white);
  --highlight-color: color-mix(in srgb, var(--color) 22%, var(--black));
  --font-size: var(--font-size-base);
  --font-weight: 700;
  --line-height: var(--line-height-base);
  --height: 48px;
  --min-width: 120px;

  align-items: center;
  appearance: none;
  color: var(--accent-color);
  background-color: var(--color);
  border-color: var(--color);
  border-style: solid;
  border-radius: .4rem;
  border-width: 2px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  display: inline-flex;
  justify-content: center;
  height: var(--height);
  line-height: var(--line-height);
  min-width: var(--min-width);
  transition: 
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  width: fit-content;
}

.button:focus-visible {
  outline-color: var(--color);
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
}

.button--primary {
  --color: var(--neonCian);
  --accent-color: var(--darkGrey);
}

.button--secondary {
  --color: var(--red);
  --accent-color: var(--darkGrey);
}

.button--small {
  --height: 32px;
  --min-width: 80px;
  --font-size: var(--font-size-sm);
  --line-height: var(--line-height-sm);
  padding: 0 .5rem;
}

.button--medium {
  padding: 0 1rem;
}

.button--large {
  --height: 56px;
  --min-width: 140px;
  --font-size: var(--font-size-md);
  --line-height: var(--line-height-md);
  padding: 0 1.5rem;
}

.button--solid {
  color: var(--accent-color);
  background-color: var(--color);
  border-color: var(--color);
}

.button--solid:hover {
  color: var(--color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.button--solid:active {
  color: var(--color);
  background-color: var(--accent-color);
  border-color: var(--color);
}

.button--solid:focus-visible {
  outline-color: var(--accent-color);
  border-color: transparent;
}

.button--outline {
  color: var(--color);
  background-color: transparent;
  border-color: var(--color);
}

.button--outline:hover {
  color: var(--accent-color);
  background-color: var(--color);
  border-color: var(--color);
}

.button--outline:active {
  color: var(--color);
  background-color: var(--accent-color);
  border-color: var(--color);
}

.button--outline:focus-visible {
  outline-color: var(--color);
  color: var(--color);
}

.button--ghost {
  color: var(--color);
  background-color: transparent;
  border-color: transparent;
}

.button--ghost:hover {
  color: var(--color);
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.button--ghost:active {
  color: var(--color);
  background-color: var(--accent-color);
  border-color: var(--color);
}

.button--ghost:focus-visible {
  outline-color: var(--color);
  color: var(--color);
}

@media (prefers-color-scheme: light) {
  .button--primary {
    --highlight-color: color-mix(in srgb, var(--color) 18%, var(--white));
  }

  .button--secondary {
    --highlight-color: color-mix(in srgb, var(--color) 18%, var(--white));
  }

  .button--solid:hover {
    color: var(--color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  .button--solid:active {
    background-color: var(--color);
    border-color: var(--accent-color);
    color: var(--accent-color);
  }


  .button--outline:hover {
    color: var(--accent-color);
    background-color: var(--color);
    border-color: var(--accent-color);
  }

  .button--outline:active {
    color: var(--color);
    background-color: var(--accent-color);
    border-color: var(--color);
  }

  .button--ghost:hover {
    color: var(--color);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
  }

  .button--ghost:active {
    color: var(--accent-color);
    background-color: var(--color);
  }

  .button--secondary.button--solid {
    color: var(--white);
  }
  
}
