@import url('./styles/colors.css') layer(colors);
@import url('./styles/typography.css') layer(typography);

:root {
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);
  font-family: var(--open-sans-font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
}

h1 {
  font-family: var(--fira-sans-font);
  color: var(--neonCian);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }

  h1 {
    color: var(--navyBlue);
  }
}
