:root {

  --average-sans-font: 'Average Sans', sans-serif;
  --fira-sans-font: 'Fira Sans', sans-serif;
  --open-sans-font: 'Open Sans', sans-serif;

  --font-size-sm: clamp(0.8rem, 0.14vw + 0.77rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.29vw + 0.93rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.51vw + 1.12rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 0.84vw + 1.35rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.32vw + 1.62rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.01vw + 1.94rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 2.99vw + 2.3rem, 5rem);


  --white: hsl(60, 100%, 100%);
  --blue: hsl(205, 84%, 22%);
  --red: hsl(349, 84%, 60%);
  --black: hsl(212, 13%, 43%);
  --lightGrey: hsl(205, 39%, 69%);
  --lightBlue: hsl(206, 97%, 61%);

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--open-sans-font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: var(--font-size-base);
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
}

h1 {
  font-family: var(--fira-sans-font);
  color: var(--white);
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }

  h1 {
    color: var(--blue);
  }
}
